<div class='combination-div' id=<%=combination.id%>>
    <div class="combination-individual-item"><%= image_tag(@items.find(combination.item_1_id).image_url.to_s, width: 300) %> <%= image_tag(@items.find(8).image_url.to_s, width: 300) %></div>
</div>
