<p id="notice"><%= notice %></p>



<h1>Items</h1>




  <h2>Tops</h2>
  <% @tops.each do |item| %>
    <%= render 'clothes_information', item: item %>
  <% end %>

  <h2>Bottoms</h2>
  <% @bottoms.each do |item| %>
    <%= render 'clothes_information', item: item %>
  <% end %>




<br>
