<p id="notice"><%= notice %></p>

<h1 class='main-heading'>Your Wardrobe</h1>

<div id='filters' class='filter-container'>
  <h2 class='sub-heading'>Colour</h2>
  <div class="border-span"></div>
  <div class='filter-attributes filter-colour'>
    <label class="container">
      <input type='checkbox' name='colour' id='red' value='red' class="checkbox-filter" ></input>
      <span class="checkmark">Red</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='light-blue' value='light-blue' class="checkbox-filter" ></input>
      <span class="checkmark">Blue</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='green' value='green' class="checkbox-filter"></input>
      <span class="checkmark">Green</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='yellow' value='yellow' class="checkbox-filter"></input>
      <span class="checkmark">Yellow</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='navy' value='navy' class="checkbox-filter"></input>
      <span class="checkmark">Navy</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='brown' value='brown'class="checkbox-filter" ></input>
      <span class="checkmark">Brown</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='gold' value='gold' class="checkbox-filter"></input>
      <span class="checkmark">Gold</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='silver' value='silver' class="checkbox-filter"></input>
      <span class="checkmark">Silver</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='black' value='black' class="checkbox-filter"></input>
      <span class="checkmark">Black</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='purple' value='purple' class="checkbox-filter" ></input>
      <span class="checkmark">Purple</span>
    </label>
    <label class="container">
      <input type='checkbox' name='colour' id='pink' value='pink' class="checkbox-filter" ></input>
      <span class="checkmark">Pink</span>
    </label>
  </div>
  <h2 class='sub-heading'>Occasion</h2>
  <div class="border-span"></div>
  <div class="filter-border">
    <div class='filter-attributes filter-occasion'>
      <label class="container">
        <input type='checkbox' name='occasion' id='formal' value='formal' class="checkbox-filter" ></input>
        <span class="checkmark">Formal</span>
      </label>
      <label class="container">
        <input type='checkbox' name='occasion' id='informal' value='informal' class="checkbox-filter"> </input>
        <span class="checkmark">Informal</span>
      </label>
    </div>
  </div>
  <div>
    <input class="btn-action-clear" type='button' id='clear_all' value='Clear all'></input>
  </div>

  <h2 class='sub-heading'>Tops</h2>
  <div class="section-tops section-clothes">
    <% @tops.each do |item| %>
      <%= render 'clothes_information', item: item %>
    <% end %>
  </div>
  <h2 class='sub-heading'>Bottoms</h2>
  <div class="section-bottoms section-clothes">
    <% @bottoms.each do |item| %>
      <%= render 'clothes_information', item: item%>
    <% end %>
  </div>
</div>
