
<% @item_collection.each do |item| %>
  <%= image_tag(item.image_url.to_s, width: 300) %>
<% end %>

<p> Clothes: <%= @message_1 %></p>
<p> Occasion: <%= @message_2 %> </p>
<p> Overall: <%= @overall_message %> </p>
